@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }

  p.about {
    font-size: 20px;
  }

  .home {
    display: flex;
    justify-self: center;
    align-content: center;
    flex-direction: column;
    width: 300px;
    height: 100%;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }

  .tech-img {
    max-width: 50px;
    max-height: 50px;
  }

  p.tech-img {
    font-size: 10px;
  }

  h1 {
    font-size: 18px;
  }

  h2.name {
    font-size: 20px;
  }

  .certificate {
    max-width: 150px;
    max-height: 100px;
  }
}

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  background: #2980b9
    url("https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png")
    repeat 0 0;
  -webkit-animation: 10s linear 0s normal none infinite animate;
  -moz-animation: 10s linear 0s normal none infinite animate;
  -ms-animation: 10s linear 0s normal none infinite animate;
  -o-animation: 10s linear 0s normal none infinite animate;
  animation: 10s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-o-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

h1 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1:hover {
  cursor: pointer;
  transform: scale(1.05);
}

h2 {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-weight: 850;
  font-size: 4em;
  width: 100%;
  margin: 0;
  padding: 5px;
}

.footer:hover {
  transform: scale(1);
}

p {
  font-weight: 900;
  font-size: 25px;
}

.profile-img {
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 10px;
  max-width: 250px;
  max-height: 250px;
}

.profile-img:hover {
  cursor: pointer;
}

.home {
  background-color: #fdfefb;
  text-align: center;
  margin: 150px;
  max-width: 80%;
  max-height: 80%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tech-img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fdfefb;
  padding: 5px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 10px 30px;
  padding: 5px;
  height: 80px;
  width: 80px;
}

p.name {
  height: 20px;
  font-size: 1.5em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  padding: 10px;
}

.card:hover {
  background-color: rgba(87, 111, 230, 1);
  border-radius: 20px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.repo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certificates {
  display: flex;
  justify-content: space-around;
}

.certificate {
  width: 300px;
  height: 200px;
  margin: 8px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.certificate:hover {
  transform: scale(1.1);
}